@model IEnumerable<DestinyForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-white">Welcome to DestinyForum</h1>

<p class="text-white">
    <a asp-action="Create" asp-controller="Discussions" class="btn btn-primary">Create New Post</a>
</p>

<div class="row">
    @foreach (var discussion in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(discussion.ImageFilename))
                    {
                        <img src="/images/@discussion.ImageFilename" alt="Discussion Image" class="img-thumbnail" />
                    }
                    <h5 class="card-title">
                        <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@discussion.DiscussionId">
                            @discussion.Title
                        </a>
                    </h5>
                    <p class="card-text">@discussion.Content</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div>
                        <small>Comments: @discussion.Comments.Count</small>
                        <small class="ml-2">Created: @discussion.CreateDate.ToString("dd/MM/yyyy")</small>
                    </div>
                    <div>
                        <a asp-action="Profile" asp-controller="Home" asp-route-id="@discussion.ApplicationUser.Id" class="d-flex align-items-center">
                            @if (!string.IsNullOrEmpty(discussion.ApplicationUser.ImageFilename))
                            {
                                <img src="~/images/@discussion.ApplicationUser.ImageFilename" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px;" />
                            }
                            else
                            {
                                <img src="~/images/placeholder.png" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px;" />
                            }
                            <span class="ml-2">@discussion.ApplicationUser.Name</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
